<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shardingsphere.dao.UserDao">

    <select id="queryAll" resultType="com.example.shardingsphere.entity.User">
        select * from t_user
    </select>
    <select id="query" parameterType="Integer" resultType="com.example.shardingsphere.entity.User">
        select id,  name,  city ,db_source from t_user where id=#{id};
    </select>
    <insert id="add" parameterType="com.example.shardingsphere.entity.User">
        INSERT INTO t_user(id,name,city,db_source) VALUES(#{id},#{name},#{city},DATABASE());
    </insert>
    <delete id="delete" parameterType="Integer">
        delete FROM t_user where id=#{id}
    </delete>

    <update id="update" parameterType="com.example.shardingsphere.entity.User">
        update t_user SET name = #{name}, ciry = #{city} where id = #{id}
    </update>

</mapper>

